<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name ="car">

    <gazebo reference="wheel_right_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>

        <kp>1.000000000000.0</kp>
        <kd>10.0</kd>

        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdirl>1 0 0 </fdirl>

    </gazebo>

    <gazebo reference="wheel_left_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>

        <kp>1.000000000000.0</kp>
        <kd>10.0</kd>

        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdirl>1 0 0 </fdirl>
        
    </gazebo>

</robot>